.brand-link {

    background-color: rgb(243, 86, 107);
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    vertical-align: top;
    font-size: 20px
    
    

}
.brand-link:hover {
    opacity: 70%;
}
.brand-info {
    text-align: center;
}
.brand {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.links-to-shop {
    display: inline-block;
    width: 1fr;
    flex: 1;
    text-align: center;
}
.brand-picture-row {
    display: flex;
    margin-bottom: 30px;
    
}
.brand-picture {
    margin: auto;
    max-width: 1500px;
    width: 100%;
    
    display: block;

}
.featured-items-block {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    column-gap: 2%;
    margin-bottom: 100px;
}
.item-display {
    display: grid;
    grid-template-columns: 250px;
    
}
.featured-picture {
    width: 100%;
    
}
.product-link {
    font-family: 'Roboto', Arial;
    color: black;
    transition: color .15s;

}
.product-link:hover {
    color: darkred;
}
.image-link {
    transition: opacity 0.15s;
}
.image-link:hover {
    opacity: 70%;
}
.featured-products-header {
    font-size: 30px;
    text-align: center;
}

